
.titulo {
    color: #32406F;
    font-size: 50px;
    font-family: 'Copperplate', Copperplate Gothic Light, fantasy;
    text-align: center;
    margin-bottom: 70px;
}

main .EducAula-QuienesSomos{
    padding: 30px 0 60px 0;
}

.contenedor-EducAula-QuienesSomos{
    display: flex;
    justify-content: space-evenly;
}

.imagen-logo{
    width: 48%;
}

.EducAula-QuienesSomos .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: rgb(45, 27, 204);
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;

body {

}

.titulo {

}

header {

}

nav{

}

header .texto-encabezado{

}

.texto-encabezado h1{


}

.texto-encabezado h2{

}
main .EducAula-QuienesSomos{

}

.contenedor-EducAula-QuienesSomos{

}

.imagen-logo{

}

.EducAula-QuienesSomos .contenido-textos{

}

.contenido-textos h3{

}

.contenido-textos h3 span{

}

.contenido-textos p{

}

footer{

}

.contenedor-footer{

}

.content-foo{

}

.content-foo h4{

}

.content-foo p{

}

.titulo-final{


}
